# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
Env/
venv/
*.env

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# MySQL / database files (jika pakai lokal)
*.sql
*.sqlite3

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db