<div class="sidebar" id="sidebar">

    <ul class="nav flex-column mt-3">

        <li class="nav-item">
            <a class="nav-link" href="{% url 'd-dash' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#masterMenu">
                <i class="fa fa-database"></i> Master Data
            </a>
            <div class="collapse" id="masterMenu">
                <a class="nav-link ml-4" href="#">Department</a>
                <a class="nav-link ml-4" href="#">Category</a>
                <a class="nav-link ml-4" href="#">Location</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-cubes"></i> Assets</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-exchange"></i> Transactions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-wrench"></i> Maintenance</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-trash"></i> Disposal</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-bar-chart"></i> Reports</a>
        </li>

    </ul>

    <!-- Sidebar Bottom Button -->
    <div class="text-center mt-4">
        <button class="btn btn-light btn-sm">
            <i class="fa fa-cog"></i> Customize
        </button>
    </div>

</div>